{% extends "layout.html" %}

{% block title %}Usuario {{usuario.nombre}} - Zonas de inundación{% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Perfil {{usuario.nombre}}</h1>

    <form action="/usuarios/perfilUpdate/{{usuario.id}}" method="POST">
        <div class="mb-3">
            <label for="email">Email
                <input class="form-control" type="email" name="email" required placeholder="Email" required value="{{usuario.email}}" >
            </label>
        </div>
        <div class="mb-3">
            <label for="username">Nombre de usuario
                <input class="form-control" type="text" name="username" required placeholder="Nombre de usuario" required  value="{{usuario.username}}">
            </label>
        </div>
        <div class="mb-3">
            <label for="password">Clave
                <input class="form-control" type="password" name="password" required placeholder="Contraseña" required  value="{{usuario.password}}">
            </label>
        </div>
        <div class="mb-3">
            <label for="name">Nombre
                <input class="form-control" type="text" name="name" required placeholder="Nombre" required value="{{usuario.first_name}}">
            </label>
        </div>
        <div class="mb-3">
            <label for="lastname">Apellido
                <input class="form-control" type="text" name="lastname" required placeholder="Apellido" required value="{{usuario.last_name}}">
            </label>
        </div>
       
        <div class="mb-3">
            <input class="btn btn-outline-success" type="submit" value="Guardar cambios">
            <button class="btn btn-outline-secondary" type="reset">Limpiar</button>
        </div>
        
    </form>

    <br>
    
    <a class="btn btn-outline-secondary" href="{{url_for('home')}}">Volver</a>
</div>


{% endblock %}
