
{% extends "layout.html"%}
{% block title %}Usuarios - Zonas de inundación{% endblock %}
{% block head %}
    {{super()}}
{% endblock %}
{% block content %}
  

<div class="container-fluid">
    <h1>Administración de Usuarios</h1>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#new-usuario-modal">Nuevo Usuario</button>

    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#search-modal"><i class="fas fa-search"></i> Buscar</button>

    <a class="btn btn-outline-primary {{'active' if request.args.get('statusF') == 'activo'}}" href="{{url_for('usuario_index', statusF='activo')}}{% for getparam in request.args %}{{'&' + getparam + '=' + request.args.get(getparam) if getparam != 'statusF'}}{% endfor %}"><i class="fas fa-user-check"></i> Mostrar sólo usuarios activos</a>

    <a class="btn btn-outline-primary {{'active' if request.args.get('statusF') == 'bloqueado'}}" href="{{url_for('usuario_index', statusF='bloqueado')}}{% for getparam in request.args %}{{'&' + getparam + '=' + request.args.get(getparam) if getparam != 'statusF'}}{% endfor %}"><i class="fas fa-user-check"></i> Mostrar sólo usuarios inactivos</a>

    <a class="btn btn-outline-secondary" class="btn" href="{{url_for('usuario_index')}}"><i class="fas fa-times"></i> Quitar filtros</a>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Nombre de usuario</td>
                    <td>Email</td>
                    <td>Estado</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {%for usuario in paginator.get_page() %}
                <tr>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{% if (usuario.activo==1) %}
                        activo
                        {% else %}
                        bloqueado
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" href="/usuarios/update/{{usuario.id}}">Editar</a>
                        {% if (usuario.activo==1) %}
                        <a class="btn btn-outline-danger" href="/usuarios/delete/{{usuario.id}}">Borrar</a>
                        {% else %}
                        <a class="btn btn-outline-success" class="btn btn-success" href="/usuarios/activar/{{usuario.id}}">Activar usuario</a>
                        {% endif %}
                        <a class="btn btn-outline-secondary" href="/usuarios/show/{{usuario.id}}">Ver</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav aria-label="Puntos navigation pages">
        <ul class="pagination">
            {% if(not paginator.prev_page() < 0)%}
                <li class="page-item"><a class="page-link" href="{{url_for('usuario_index', page=paginator.prev_page())}}{% for getparam in request.args %}{{'&' + getparam + '=' + request.args.get(getparam) if getparam != 'page'}}{% endfor %}">Anterior</a></li>
            {% endif %}
            {% if paginator.has_next_page() %}
                <li class="page-item"><a class="page-link" href="{{url_for('usuario_index', page=paginator.next_page())}}{% for getparam in request.args %}{{'&' + getparam + '=' + request.args.get(getparam) if getparam != 'page'}}{% endfor %}">Siguiente</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- modal de busqueda por nombre -->
<div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="search-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="search-modalLabel">Búsqueda de Punto de encuentro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <form action="{{url_for('usuario_index')}}">
                    <label for="nombreF">Nombre del usuario: </label>
                    <input type="text" name="nombreF" placeholder="Nombre" required >
                    <input class="btn btn-primary" type="submit" value="Buscar">
                    <button class="btn btn-secondary" type="reset">Limpiar</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>


<!-- modal de nuevo usuario  -->
<div class="modal fade" id="new-usuario-modal" tabindex="-1" aria-labelledby="new-usuario-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new-usuario-modalLabel">Nuevo Punto de encuentro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('usuario_create') }}" method="POST">
                <div class="mb-3">
                    <label for="email">
                        <input class="form-control" type="email" name="email" required placeholder="Email" required>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="username">
                        <input class="form-control" type="text" name="username" required placeholder="Nombre de usuario" required>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="password">
                        <input class="form-control" type="password" name="password" required placeholder="Contraseña" required>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="name">
                        <input class="form-control" type="text" name="name" required placeholder="Nombre" required>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="lastname">
                        <input class="form-control" type="text" name="lastname" required placeholder="Apellido" required>
                    </label>
                </div>   
                <div>
                    Admninstrador<input type="checkbox" value="adm" name="adm" >
                    Operador<input type="checkbox" value="ope" name="ope" >
                </div>
                <div class="input-control">
                    <input type="submit" value="Crear nuevo usuario">
                    <button type="reset">Limpiar</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>




{% endblock %}
