.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.226);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

    .modal-content{
        padding: 30px;
        background: white;
        min-width: 50%;
    }