{% extends "layout.html" %}

{% block title %}Zonas {{zonas.nombre}} - Zonas de inundación{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script type="module" src="/../static/puntos/showPuntoMap.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Zona Inundable {{zonas.nombre}}</h1>
    <table class="table">
        <tr>
            <th>NOMBRE:</th>
            <td>{{zonas.nombre}}</td>
        </tr>
        <tr>
            <th>CÓDIGO:</th>
            <td>{{zonas.codigo}}</td>
        </tr>
        <tr>
            <th>ESTADO:</th>
            <td>{{zonas.estado}}</td>
        </tr>
        <tr>
            <th>CANTIDAD DE PUNTOS:</th>
            <td>{{cantidad_puntos(zonas.id)}}</td>
        </tr>
        <div id="mapid"></div>
    </table>
    <a class="btn btn-outline-primary" href="/zonas/update/{{zonas.id}}">Editar</a>
    {% if tiene_permiso(session["id"],"zonas_destroy") %}
    {% if (zonas.estado=="publicado") %}
    <a class="btn btn-outline-danger" href="/zonas/delete/{{zonas.id}}">Borrar</a>
    {% else %}
    <a class="btn btn-outline-danger" href="/zonas/activar/{{zonas.id}}">Activar Zona</a>
    {% endif %}
    {% endif %}
    <a class="btn btn-outline-secondary" href="{{url_for('zonas_index')}}">Volver</a>
   
</div>

{% endblock %}