{% extends "layout.html" %}

{% block title %}Zonas {{zonas.nombre}} - Zonas de inundación{% endblock %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script type="module" src="/../static/zonas/showZonaMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css" integrity="sha512-vJfMKRRm4c4UupyPwGUZI8U651mSzbmmPgR3sdE3LcwBPsdGeARvUM5EcSTg34DK8YIRiIo+oJwNfZPMKEQyug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Zona Inundable {{zonas.nombre}}</h1>
    <table class="table">
        <tr>
            <th>NOMBRE:</th>
            <td>{{zonas.nombre}}</td>
        </tr>
        <tr>
            <th>CÓDIGO:</th>
            <td>{{zonas.codigo}}</td>
        </tr>
        <tr>
            <th>ESTADO:</th>
            <td>{{zonas.estado}}</td>
        </tr>
        <tr>
            <th>CANTIDAD DE PUNTOS:</th>
            <td>{{cantidad_puntos(zonas.id)}}</td>
        </tr>
        <input style="display: none;" id="color" value="{{zonas.color}}">
        {%for coordenada in zonas.puntos %}
       
          <input style="display: none;" name="lat" value="{{coordenada.lat}}">
          <input style="display: none;" name="lng" value="{{coordenada.lng}}">

        {% endfor %}
       
        <div id="mapid"></div>
    </table>
    {% if tiene_permiso(session["id"],"zonas_destroy") %}
    <a class="btn btn-outline-danger" href="/zonas/eliminar/{{zonas.id}}">Eliminar</a>
    {% if (zonas.estado=="publicado") %}
    <a class="btn btn-outline-danger" href="/zonas/delete/{{zonas.id}}">Despublicar</a>
    {% else %}
    <a class="btn btn-outline-danger" href="/zonas/activar/{{zonas.id}}">Activar Zona</a>
    {% endif %}
    {% endif %}
    <a class="btn btn-outline-secondary" href="{{url_for('zonas_index')}}">Volver</a>
   
</div>

{% endblock %}