
{% extends "layout.html"%}
{% block title %}Denuncias - Zonas de inundación{% endblock %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    {% if request.args.get("edit-map") == "1" %}
    <script type="module" src="{{url_for('static', filename='denuncia/update-denuncia-map.js')}}"></script>
    {% else %}
    <script type="module" src="{{url_for('static', filename='denuncia/denuncia-show-map.js')}}"></script>
    {% endif %}
{% endblock %}
{% block content %}
  

<div class="container-fluid">
    <div class="mb-3">
       <h1>Denuncia #{{denuncia.id}} - {{denuncia.title}}</h1> 
    </div>
    
    <div class="row">
        <div class="col-md-6">

            <div class="mb-3">
                <small class="{{'alert-success' if denuncia.status != 'CLOSED' else 'alert-danger'}}">Denuncia <strong>{{"abierta" if denuncia.status != "CLOSED"}}</strong> - Status actual: <strong>{{denuncia.status}}</strong></small>
                {% if denuncia.status == "CLOSED" %}
                    <small class="alert-danger">Cerrada el {{denuncia.closed_at}}</small>
                {% endif %}

                {% if request.args.get("edit-categoria") == "1" %}
                <div class="mb-3">
                    <form action="{{url_for('denuncia_set_categoria')}}" method="POST">
                        <input type="hidden" name="id" value="{{denuncia.id}}">
                        
                        <select class="form-control" name="categoria" id="categoria">
                            {% for categoria in categorias %}
                                <option {{'selected' if denuncia.categoria.id == categoria.id}} value="{{categoria.id}}">{{categoria.name}}</option>
                            {% endfor %}
                        </select>
                        
                        <input type="submit" value="Cambiar categoría" class="btn btn-outline-success">
                        <a class="btn btn-outline-secondary" href="{{url_for('denuncia_show', id = denuncia.id)}}">Cancelar</a>
                    </form>
                </div>
                {% else %}
                <small class="alert-primary"><strong>Categoría</strong> {{denuncia.categoria.name}}</small>
                <a href="{{url_for('denuncia_show', id = denuncia.id)}}?edit-categoria=1"><i class="fas fa-edit color2"></i></a>
                {% endif %}

                {% if tiene_permiso(session["id"], "denuncia_destroy") %}
                <form action="{{url_for('denuncia_delete')}}" onsubmit="return confirm('¿Está seguro que desea eliminar esta denuncia?');" method="POST">
                    <input type="hidden" name="id" value="{{denuncia.id}}">
                    <input type="submit" value="Eliminar Denuncia" class="btn btn-outline-danger">
                </form>
                {% endif %}
            </div>

            <div class="mb-3">
                <div class="accordion" id="accordionDenunciante">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingDenunciante">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDenunciante" aria-expanded="true" aria-controls="collapseDenunciante">
                            <i class="far fa-user-circle"></i> Datos del denunciante
                        </button>
                      </h2>
                      <div id="collapseDenunciante" class="accordion-collapse collapse {{'show' if request.args.get('edit-denunciante') == '1' }}" aria-labelledby="headingDenunciante" data-bs-parent="#accordionDenunciante">
                        <div class="accordion-body">
                            {% if request.args.get("edit-denunciante") == "1" and tiene_permiso(session["id"], "denuncia_update") %}
                            <div class="mb-3">
                                <form action="{{url_for('denuncia_set_denunciante')}}" method="POST">
                                    <input type="hidden" name="id" value="{{denuncia.id}}">
                                    <div class="mb-3">
                                        <label for="denunciante_name">Nombre</label>
                                        <input type="text" value="{{denuncia.denunciante_name}}" autocomplete="false" required class="form-control" name="denunciante_name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="denunciante_last_name">Nombre</label>
                                        <input type="text" value="{{denuncia.denunciante_last_name}}" autocomplete="false" required class="form-control" name="denunciante_last_name">
                                    </div>

                                    <div class="mb-3">
                                        <label for="denunciante_phone">Número de teléfono</label>
                                        <input type="text" value="{{denuncia.denunciante_phone}}" autocomplete="false" required class="form-control" name="denunciante_phone">
                                    </div>

                                    <div class="mb-3">
                                        <label for="denunciante_email">Número de teléfono</label>
                                        <input type="email" value="{{denuncia.denunciante_email}}" autocomplete="false" required class="form-control" name="denunciante_email">
                                    </div>

                                    <input type="submit" value="Guardar cambios" class="btn btn-outline-success">
                                    <a class="btn btn-outline-secondary" href="{{url_for('denuncia_show', id = denuncia.id)}}">Cancelar</a>
                                </form>
                            </div>
                            {% else %}
                            <div class="mb-3">
                                <h5>Nombre</h5>
                                <p>{{denuncia.denunciante_name}}</p>
                                <h5>Apellido</h5>
                                <p>{{denuncia.denunciante_last_name}}</p>
                                <h5>Número de teléfono</h5>
                                <p><a href="phone:{{denuncia.denunciante_phone}}">{{denuncia.denunciante_phone}}</a></p>
                                <h5>Email</h5>
                                <p><a href="mailto:{{denuncia.denunciante_email}}">{{denuncia.denunciante_email}}</a></p>
                                {% if tiene_permiso(session["id"], "denuncia_update") %}
                                <a href="{{url_for('denuncia_show', id = denuncia.id)}}?edit-denunciante=1" class="btn">Editar datos del denunciante <i class="fas fa-edit color2"></i></a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
                <!-- end datos del denunciante -->

            </div>

        </div>
        <div class="col-md-6">

            <div class="mb-3">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-estado-tab" data-bs-toggle="pill" data-bs-target="#pills-estado" type="button" role="tab" aria-controls="pills-estado" aria-selected="true">Estado de denuncia</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-seguimiento-tab" data-bs-toggle="pill" data-bs-target="#pills-seguimiento" type="button" role="tab" aria-controls="pills-seguimiento" aria-selected="false">Seguimiento</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-estado" role="tabpanel" aria-labelledby="pills-estado-tab">
                        <form action="{{url_for('denuncia_set_status')}}" method="POST" onchange="enablebtn(this);">
                            <input type="hidden" name="id" value="{{denuncia.id}}">
                            <label for="status">Estado de la denuncia</label>
                            <select class="form-control" name="status" id="status" value="{{denuncia.status}}">
                                <option value="UNCONFIRMED" {{"selected" if denuncia.status == "UNCONFIRMED"}}>Sin confirmar</option>
                                <option value="IN_PROGRESS" {{"selected" if denuncia.status == "IN_PROGRESS"}}>En curso</option>
                                <option value="RESOLVED" {{"selected" if denuncia.status == "RESOLVED"}}>Resuelta</option>
                                <option value="CLOSED" {{"selected" if denuncia.status == "CLOSED"}}>Cerrada</option>
                            </select>
                            <input type="submit" value="Actualizar estado" class="btn btn-outline-success" disabled>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-seguimiento" role="tabpanel" aria-labelledby="pills-seguimiento-tab">
                        <div class="overlflow-auto mb-3">
                            {% for seguimiento in denuncia.seguimientos %}
                            <div class="card">
                                <div class="card-header">
                                  {{seguimiento.created_at}}
                                </div>
                                <div class="card-body">
                                  <blockquote class="blockquote mb-0">
                                    <p>{{seguimiento.description}}</p>
                                    <footer class="blockquote-footer">{{seguimiento.author.username}}</footer>
                                  </blockquote>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <form action="{{url_for('denuncia_update_seguimiento')}}" method="POST">
                                <input type="hidden" name="id" value="{{denuncia.id}}">
                                <label for="seguimiento" style="display:none;">Seguimiento</label>
                                <textarea placeholder="Nuevo seguimiento" {{"disabled" if denuncia.status == "CLOSED"}} class="form-control" name="seguimiento" id="seguimiento" required>{{"" if denuncia.seguimiento == None else denuncia.seguimiento}}</textarea>

                                <input type="submit" {{"disabled" if denuncia.status == "CLOSED"}} value="Guardar nuevo seguimiento" class="btn btn-outline-success">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    
    
    <div class="container">
        <small class="alert-primary">Fecha de creación: {{denuncia.created_at}}</small>

        {% if request.args.get("edit-description") == "1" and tiene_permiso(session["id"], "denuncia_update") %}
        <form action="{{url_for('denuncia_set_descripcion')}}" method="POST">
            <input type="hidden" name="id" value="{{denuncia.id}}">
            <h5>Edite la descripción. Luego presione guardar cambios. <a href="{{url_for(request.endpoint, id = denuncia.id)}}">Cancelar</a></h5>
            <div class="mb-3">
                <input class="form-control" type="text" value="{{denuncia.description}}" autocomplete="false" name="descripcion">
            </div>
            <div class="mb-3">
                <input type="submit" value="Guardar cambios" class="btn btn-outline-success">
            </div>
        </form>
        {% else %}
        <a class="btn" href="{{url_for(request.endpoint, id = denuncia.id)}}?edit-description=1">Editar descripción <i class="fas fa-edit color2"></i></a>
        <p>{{denuncia.description}}</p>
        {% endif %}

        <p><i class="fas fa-globe-americas"></i> {{denuncia.coordenada_lat}}, {{denuncia.coordenada_lng}}</p>

        {% if request.args.get("edit-map") == "1" and tiene_permiso(session["id"], "denuncia_update") %}
        <h5>Seleccione un punto en el mapa. Luego presione guardar nuevas coordenadas. <a href="{{url_for(request.endpoint, id = denuncia.id)}}">Cancelar</a></h5>
        {% else %}
        <a  class="btn" href="{{url_for(request.endpoint, id = denuncia.id)}}?edit-map=1">Editar Coordenadas <i class="fas fa-edit color2"></i></a>
        {% endif %}
        
        {% if request.args.get("edit-map") == "1" and tiene_permiso(session["id"], "denuncia_update") %}
        <form action="{{url_for('denuncia_set_coordenadas')}}" id="new-denuncia-form" method="POST">
            <input type="hidden" name="id" value="{{denuncia.id}}">
        {% endif %}
            <input type="hidden" name="lat" id="lat" value="{{denuncia.coordenada_lat}}">
            <input type="hidden" name="lng" id="lng" value="{{denuncia.coordenada_lng}}">
            <div id="mapid" style="width: 100%; height: 300px;"></div>
        {% if request.args.get("edit-map") == "1" and tiene_permiso(session["id"], "denuncia_update") %}
            <input type="submit" class="btn btn-outline-success" value="Guardar nuevas coordenadas">
        </form>
        {% endif %}

    </div>
    
    {% block jsimport %}
    <script>
        function enablebtn(evt){
            evt.getElementsByClassName("btn")[0].disabled = false;
        }

    </script>
    {% endblock %}
    
</div>

{% endblock %}
