<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Negado - Zonas de inundación</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">
    <style>
        body, html{
            height: 100%;
            font-family: "Gothic A1";
        }
    </style>
</head>


<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 80%">
        <div class="text-center">
            <img src="{{ url_for('static', filename='img/laplatacorazon.png') }}" alt="La Plata Corazon" height="50" height="50">

            <h1>{{ error_name }}</h1>
            <div class="content container-fluid">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="message">
                        {% for message in messages %}
                        <div class="alert alert-primary">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
        
                {% block content %}
                {% endblock %}
                
            </div>

            <h5>{{ error_description }}</h5>
            <p><a href="{{ url_for('home') }}">Volver al inicio</a></p>
            
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light text-center">
        <div class="container">
          <span class="text-muted">Desarrollado por <a href="#">Grupo #40</a></span>
        </div>
    </footer>
</body>
</html>
