
{% extends "layout.html" %}

{% block title %}Configuración - Zonas de inundación{% endblock %}
{%block head %}
    {{ super() }}
{% endblock %}

{%block topbar %}
    {{super()}}
{% endblock %}

{% block message %}
    {{ super() }}
{% endblock %}

    {% block content %}
      <h1>Bienvenido {{session.get("user")}}</h1>
      {% if session.get("id")==0 %} 
      <p>Usted esta a la espera de que un Administrador active su cuenta. Mientras tanto no podra usar los servicios</p>
      {% endif %}
      <p>El 2 de abril de 2013, la ciudad de La Plata sufrió un evento extraordinario que provocó que distintas zonas de la ciudad quedaran inundadas con graves consecuencias.</p>
      <p>Esta aplicación se realizó recordando el 10mo. aniversario de la inundación de la ciudad de La Plata</p>
      <p>A través de esta aplicación se podrá brindar información a los habitantes de la ciudad de La Plata sobre zonas inundables, puntos de encuentro en caso de alguna emergencia y recorridos de evacuación.</p>
    {% endblock %}