<!-- 
Esta seria la página de administracion CRUD de los puntos de encuentro de la app privada

-->


{% block title %}PUNTOS DE ENCUENTRO{% endblock %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Puntos de encuentro - Zonas de inundación</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}
  

<div class="content">
    <h1>Administración de puntos de encuentro</h1>
    
   
    
    <div class="modal" id="search-form">
        <div class="modal-content">
            <h2>Búsqueda de punto de encuentro</h2>
            <form action="{{ url_for('puntos_index') }}" method="POST">
                <div class="input-control">
                   Nombre del punto: <input type="text" name="nombreF" placeholder="Nombre del punto" required >
                    <input type="submit" value="Buscar">
                    <button type="reset">Limpiar</button>
                </div>
               
            </form>
            <form action="{{ url_for('puntos_index') }}" method="POST">
                <div class="input-control">
                    Estado del punto: <select name="statusF" required>
                        <option value="publicado">publicado</option>
                        <option value="despublicado">despublicado</option>
                    </select>
                
                    <input type="submit" value="Buscar">
                </div>
               
            </form>
            <form action="{{ url_for('puntos_index') }}" method="GET">
                <div class="input-control">
                    <input type="submit" value="Borrar filtro">
                </div>
               
            </form>
  
        </div>
    </div>
    <h2>MIS PUNTOS DE ENCUENTRO</h2>
    <table>
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Estado</td>
                <td>Dirección</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {%for punto in puntos %}
            <tr>
                <td>{{punto.nombre}}</td>
                <td>{{punto.estado}}</td>
                <td>{{punto.direccion}}</td>
                <td>
                    <a href="/puntos/update/{{punto.id}}"><i class="far fa-edit">Editar</i></a>
                    <a href="/puntos/delete/{{punto.id}}"><i class="far fa-trash-alt">Borrar</i></a>
                    <a href="/puntos/show/{{punto.id}}">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<div class="modal" id="new-pto-modal">
    <div class="modal-content">
        <h2>Nuevo punto de encuentro</h2>
        <form action="{{ url_for('puntos_create') }}" method="POST">
            <div class="input-control">
                <label for="newusername">
                    <input type="text" name="nombre" required placeholder="Nombre" required>
                </label>
            </div>
            <div class="input-control">
                <label for="name">
                    <input type="text" name="direccion" required placeholder="Direccion" required>
                </label>
            </div>
            <div class="input-control">
                <label for="lastname">
                    <input type="text" name="coordenadas" required placeholder="Coordenadas" required>
                </label>
            </div>
            <div class="input-control">
                <label for="status">
                    <select name="status" id="status" required>
                        <option selected value="publicado">publicado</option>
                        <option value="despublicado">despublicado</option>
                    </select>
                </label>
            </div>
            <div class="input-control">
                <label for="email">
                    <input type="text" name="telefono" required placeholder="Telefono" required>
                </label>
            </div>
            <div class="input-control">
                <label for="email">
                    <input type="email" name="email" required placeholder="Email" required>
                </label>
            </div>
            
            <div class="input-control">
                <input type="submit" value="Crear punto de encuentro">
                <button type="reset">Limpiar</button>
            </div>
        </form>
        
    </div>
</div>


{% endblock %}
